[submodule "Common-Lib"]
	path = Common-Lib
	url = git@github.com:Schmorbonium/Common-Lib.git
[submodule "memIo/Common-Lib"]
	path = memIo/Common-Lib
	url = git@github.com:Schmorbonium/Common-Lib.git
[submodule "DaisyUartTestBluePill/Common-Lib"]
	path = DaisyUartTestBluePill/Common-Lib
	url = git@github.com:Schmorbonium/Common-Lib.git
[submodule "DaisyUartTestDisco/Common-Lib"]
	path = DaisyUartTestDisco/Common-Lib
	url = git@github.com:Schmorbonium/Common-Lib.git
[submodule "controller/Common-Lib"]
	path = controller/Common-Lib
	url = https://github.com/Schmorbonium/Common-Lib.git
[submodule "alu/Common-Lib"]
	path = alu/Common-Lib
	url = https://github.com/Schmorbonium/Common-Lib.git
